/* mix */
.text-white {
  color: white;
}
/* /mix */
/* header */
/* nav */
nav.container {
  background-color: red;
  padding-bottom: 0;
}

nav {
  padding: 5px;
  height: 50px;
}

.nav_bg {
  background-color: #2c3e50;
}

.h_full {
  height: 100%;
  line-height: 100%;
  vertical-align: middle;
}

p {
  background-color: green;
  padding: 5px;
  text-align: center;
}
/* /nav */
header {
  background-color: #1abc9c;
}
/* hero */
.meta_cont {
  background-color: violet;
  margin: auto;
  width: 50%;
  padding-top: 40px;
}

.quadrato_img {
  background-color: yellow;
  height: 250px;
  width: 250px;
  margin: auto;
}

.title {
  /* future modifiche */
  background-color: grey;
}

.star {
  width: 50%;
  background-color: red;
  height: 50px;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
}

.descrizione {
  width: 80%;
  background-color: plum;
  margin: auto;
  margin-bottom: 30px;
}
/* /hero */

/* /header */
/* main */
/* main-white_top */
section.white_top {
  background-color: white;
  padding: 40px 0;
}

.box_portfolio {
  background-color: blue;
  color: white;
  padding: 10px;
}
/* main-white_top */

/* main_green */
.main_green {
  background-color: #1abc9c;
  text-align: center;
}
/* /main_green */
/* /main */
/* footer */
footer {
  color: white;
  background-color: #2c3e50;
  text-align: center;
}
/* copyright */
.copyright {
  background-color: #1a252f;
}
/* /copyright */
/* /footer */
