/* mix */
.text-white {
  color: white;
}
/* /mix */
/* header */
header {
  background-color: #1abc9c;
  color: white;
}
/* nav */
#navigatore {
  height: 50px;
  background-color: #2c3e50;
}

ul , li {
  display: inline-block;
  line-height: 100%;
}
.logo {
  font-size: 28px;
  font-weight: 700;
  white-space: nowrap;
  color: white;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.menu_nav {
  font-weight: 700;
  font-size: 18px;
  height: 100%;
}

.menu_nav a {
  color: white;
  font-weight: bold;
}

.menu_nav ul li{
  padding: 5px;
}

.nav_tot {
  line-height: 50px;
  vertical-align: middle;
}

nav button {
  background-color: #1abc9c;
}

/* /nav */
/* hero */
.meta_cont {
  margin: auto;
  width: 50%;
  padding-top: 40px;
}

.quadrato_img {
  width: 60%;
  margin: auto;
}

.title {
  font-weight: 700;
  font-size: 65px;
  padding: 20px 0;
}

.star {
  width: 50%;
  height: 50px;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 30px;
}

.line {
  width: 30%;
  border-bottom: 4px solid;
  display: inline-block;
  vertical-align: middle;
  border-radius: 2px;
}

.descrizione {
  padding-top: 20px;
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
  font-size: 20px;
}
/* /hero */

/* /header */
/* main */
/* main-white_top */
section.white_top {
  background-color: white;
  padding: 40px 0;
}

.port-title {
  color: #2c3e50;
}

h2 {
  font-size: 40px;
  font-weight: 700;
}

.box_portfolio {
  position: relative;
  color: white;
  background-color: rgba(0, 255, 153, 0.8);
  margin-top: 10px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  z-index: 10;
  background-color: rgba(0, 255, 153, 0.8);
}

.plus {
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}
.box_portfolio img {
  width: 100%;
  border-radius: 10px;
  visibility: visible;
}

.box_portfolio:hover .box_portfolio img {
  visibility: hidden;
}

.box_portfolio:hover .overlay {
  visibility: visible;
}
/* main-white_top */

/* main_green */
#main-green {
  background-color: #1abc9c;
  text-align: center;
  color: white;
  padding-bottom: 40px;
}

#main-green p {
  font-size: 20px;
  text-align: left;
}

#main-green button {
  background-color: inherit;
  color: white;
  font-size: 20px;
  padding: 16px 28px;
  margin-top: 20px;
  border: 2px solid;
}
/* /main_green */
#main_bottom {
  color:  #2c3e50;
}

form {
  padding: 30px 0;
}

input, textarea {
  padding: 10px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #e9ecef;
}

.btn_green {
  height: 50px;
  width: 100px;
  background-color: #159a80;
  margin: 20px 0;
  border-radius: 10px;
  color: white;
}

#main_bottom .dati {
  margin: auto;
  width: 50%;
}
/* /main */
/* footer */
footer {
  color: white;
  background-color: #2c3e50;
  text-align: center;
  padding: 50px 0;
}

footer h3 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
}

footer ul {
  text-decoration-style: none;
  padding-right: 30px;
}
footer li {
  padding: 5px;
}

footer li a {
  display: inline-block;
  color: white;
  border: 2px solid;
  border-radius: 50%;
  padding: 15px;
  font-weight: 500;
  font-size: 16px;
  width: 50px;
  height: 50px;
  line-height: 16px;
}

.freelancer a {
    color: #1abc9c;
    text-decoration: none;
    background-color: transparent;
  }

.siti a:hover {
  background-color: white;
  border-color: white;
}
.siti a:hover i {
  color: #2c3e50;
}
/* copyright */
.copyright {
  background-color: #1a252f;
  color: white;
  padding-top: 10px;
}
/* /copyright */
/* /footer */

/* media screen */
@media screen and (max-width: 768px) {
  .hidden_xs {
    display: none;
  }

  .logo {
    font-size: 28px;
  }

  .title {
    font-size: 1.5em;
  }

  .star {
    font-size: 20px;
  }

  h2 {
    font-size: 20px;
  }

  .col_box {
    padding: 0 25px;
  }

  #main-green {
  }

  #main-green p {
    font-size: 20px;
    text-align: left;
  }

  #main-green .star {
    font-size: 20px;
  }
}

@media screen and (min-width: 970) and (max-width: 1169px) {
  #main-green p {
    text-align: left;
  }
}
/* /media screen */
